*{
    margin: 0;
    padding: 0;
}



.top{
    padding-top: 40px;
    padding-bottom: 96px;
}


.header__menu{
    padding-top: 11px;
    padding-bottom: 12px;
}

.top__content{
    margin-top: 84px;
    margin-bottom: 162px;
}

.subtitle{
    margin-bottom: 17px;
}

.top__buttons{
    margin-top: 37px;
}





